1.获取数据 <br/>
2.数据基本处理 <br/>
2.1	合并表格<br/>
2.2	交叉表合并<br/>
2.3	数据截取<br/>
3.特征⼯程	—	pca<br/>
 4.机器学习（k-means）<br/>
5.模型评估<br/>
sklearn.metrics.silhouette_score(X,	labels)<br/>
计算所有样本的平均轮廓系数<br/>
X：特征值<br/>
labels：被聚类标记的⽬标值<br/>

In [23]:
import pandas as pd
from sklearn.decomposition import  PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [24]:
#获取数据
order_product =pd.read_csv('data/order_products__prior.csv')
products =pd.read_csv('data/products.csv')
orders=pd.read_csv('data/orders.csv')
aisles=pd.read_csv('data/aisles.csv')

In [25]:
#数据基本处理
table1=pd.merge(order_product,products,on=['product_id','product_id'])
table2=pd.merge(table1,aisles,on=['aisle_id','aisle_id'])
table3=pd.merge(table2,orders,on=['order_id','order_id'])

In [26]:
table3.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,Organic Egg Whites,86,16,eggs,202279,prior,3,5,9,8.0
1,2,28985,2,1,Michigan Organic Kale,83,4,fresh vegetables,202279,prior,3,5,9,8.0
2,2,17794,6,1,Carrots,83,4,fresh vegetables,202279,prior,3,5,9,8.0
3,2,9327,3,0,Garlic Powder,104,13,spices seasonings,202279,prior,3,5,9,8.0
4,2,45918,4,1,Coconut Butter,19,13,oils vinegars,202279,prior,3,5,9,8.0

In [27]:
#交叉表合并
table=pd.crosstab(table3['user_id'],table3['aisle'])

In [28]:
table.head()

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [29]:
#数据截取
table=table[:1000]

In [30]:
#3特征工程 -PCA 用于基于方差进行特征降维度 0.9 保留90%
data=PCA(n_components=0.9).fit_transform(table)

In [31]:
#机器学习 k-means
estimator=KMeans(n_clusters=8,random_state=22)
y_pre=estimator.fit_predict(data)

D:\wym\tool\anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
D:\wym\tool\anaconda\Lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

In [32]:
silhouette_score(data,y_pre)

0.4640056725989442