In [1]:
import pandas as pd
pd.read_excel('data/sales.xlsx')

              会员ID         订单号       提交日期    订单金额
0      15278002468  3000304681 2015-01-01   499.0
1      39236378972  3000305791 2015-01-01  2588.0
2      38722039578  3000641787 2015-01-01   498.0
3      11049640063  3000798913 2015-01-01  1572.0
4      35038752292  3000821546 2015-01-01    10.1
...            ...         ...        ...     ...
30769  39368100847  4281994827 2015-12-31   828.0
30770       409757  4282010457 2015-12-31   199.0
30771  38380526114  4282017675 2015-12-31   208.0
30772     28074988  4282019440 2015-12-31    89.0
30773  39460363230  4282025309 2015-12-31   719.0

[30774 rows x 4 columns]

## 1 加载数据了解数据的基本情况

In [2]:
sheet_names = ['2015','2016','2017','2018','会员等级']
sheet_datas = pd.read_excel('data/sales.xlsx',sheet_name=sheet_names)

In [8]:
sheet_datas['2018']

              会员ID         订单号       提交日期    订单金额
0      39229691808  4338764262 2018-01-01  3646.0
1      39293668916  4338764363 2018-01-01  3999.0
2      35059646224  4338764376 2018-01-01    10.1
3          1084397  4338770013 2018-01-01   828.0
4          3349915  4338770121 2018-01-01  3758.0
...            ...         ...        ...     ...
81344  39229485704  4354225182 2018-12-31   249.0
81345  39229021075  4354225188 2018-12-31    89.0
81346  39288976750  4354230034 2018-12-31    48.5
81347     26772630  4354230163 2018-12-31  3196.0
81348  39455580335  4354235084 2018-12-31  2999.0

[81349 rows x 4 columns]

In [17]:
for i in sheet_names:
    # sheet_names 字典的key  value是DataFrame
    print("============"+i+'================')
    print(sheet_datas[i].head())
    print("============"+'info'+'================')
    print(sheet_datas[i].info())
    print("============"+'describe'+'================')
    print(sheet_datas[i].describe())

============2015================
          会员ID         订单号       提交日期    订单金额 max_year_date
0  15278002468  3000304681 2015-01-01   499.0    2015-12-31
1  39236378972  3000305791 2015-01-01  2588.0    2015-12-31
2  38722039578  3000641787 2015-01-01   498.0    2015-12-31
3  11049640063  3000798913 2015-01-01  1572.0    2015-12-31
4  35038752292  3000821546 2015-01-01    10.1    2015-12-31
============info================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30574 entries, 0 to 30773
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           30574 non-null  int64
 1   订单号            30574 non-null  int64
 2   提交日期           30574 non-null  datetime64[ns]
 3   订单金额           30574 non-null  float64
 4   max_year_date  30574 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 1.4 MB
None
============describe================
               会员ID           订单号           订单金额
count  3.057400e+04  3.057400e+04   30574.000000
mean   2.921327e+10  4.020442e+09     967.270965
std    1.384598e+10  2.630518e+08    2073.397861
min    2.670000e+02  3.000305e+09       1.500000
25%    1.961657e+10  3.885746e+09      59.700000
50%    3.754532e+10  4.117491e+09     142.000000
75%    3.923630e+10  4.234853e+09     899.000000
max    3.954613e+10  4.282025e+09  111750.000000
============2016================
          会员ID         订单号       提交日期    订单金额 max_year_date
0  39288120141  4282025766 2016-01-01    76.0    2016-12-31
1  39293812118  4282037929 2016-01-01  7599.0    2016-12-31
2  27596340905  4282038740 2016-01-01   802.0    2016-12-31
3  15111475509  4282043819 2016-01-01    65.0    2016-12-31
4  38896594001  4282051044 2016-01-01    95.0    2016-12-31
============info================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41001 entries, 0 to 41277
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           41001 non-null  int64
 1   订单号            41001 non-null  int64
 2   提交日期           41001 non-null  datetime64[ns]
 3   订单金额           41001 non-null  float64
 4   max_year_date  41001 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 1.9 MB
None
============describe================
               会员ID           订单号           订单金额
count  4.100100e+04  4.100100e+04   41001.000000
mean   2.910772e+10  4.313582e+09     963.542790
std    1.388571e+10  1.094832e+07    2485.642632
min    8.100000e+01  4.282026e+09       1.500000
25%    1.943201e+10  4.309457e+09      65.000000
50%    3.740237e+10  4.317545e+09     149.000000
75%    3.923184e+10  4.321133e+09     898.000000
max    3.954554e+10  4.324911e+09  174900.000000
============2017================
          会员ID         订单号       提交日期    订单金额 max_year_date
0  38765290840  4324911135 2017-01-01  1799.0    2017-12-31
1  39305832102  4324911213 2017-01-01   369.0    2017-12-31
2  34190994969  4324911251 2017-01-01   189.0    2017-12-31
3  38986333210  4324911283 2017-01-01   169.0    2017-12-31
4      4271359  4324911355 2017-01-01    78.0    2017-12-31
============info================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50451 entries, 0 to 50838
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           50451 non-null  int64
 1   订单号            50451 non-null  int64
 2   提交日期           50451 non-null  datetime64[ns]
 3   订单金额           50451 non-null  float64
 4   max_year_date  50451 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 2.3 MB
None
============describe================
               会员ID           订单号           订单金额
count  5.045100e+04  5.045100e+04   50451.000000
mean   2.884214e+10  4.332469e+09     970.990793
std    1.408666e+10  4.404894e+06    2185.446995
min    2.780000e+02  4.324911e+09       1.500000
25%    1.870549e+10  4.328416e+09      65.000000
50%    3.692362e+10  4.331989e+09     155.000000
75%    3.923070e+10  4.337528e+09     899.000000
max    3.954554e+10  4.338764e+09  123609.000000
============2018================
          会员ID         订单号       提交日期    订单金额 max_year_date
0  39229691808  4338764262 2018-01-01  3646.0    2018-12-31
1  39293668916  4338764363 2018-01-01  3999.0    2018-12-31
2  35059646224  4338764376 2018-01-01    10.1    2018-12-31
3      1084397  4338770013 2018-01-01   828.0    2018-12-31
4      3349915  4338770121 2018-01-01  3758.0    2018-12-31
============info================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 80801 entries, 0 to 81348
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   会员ID           80801 non-null  int64
 1   订单号            80801 non-null  int64
 2   提交日期           80801 non-null  datetime64[ns]
 3   订单金额           80801 non-null  float64
 4   max_year_date  80801 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 3.7 MB
None
============describe================
               会员ID           订单号           订单金额
count  8.080100e+04  8.080100e+04   80801.000000
mean   2.905571e+10  4.348372e+09     973.119528
std    1.402185e+10  4.185250e+06    2210.983968
min    2.780000e+02  4.338764e+09       1.500000
25%    1.919622e+10  4.345654e+09      68.000000
50%    3.749326e+10  4.349448e+09     151.700000
75%    3.923398e+10  4.351641e+09     925.000000
max    3.954614e+10  4.354235e+09  174900.000000
============会员等级================
          会员ID  会员等级
0       100090     3
1  10012905801     1
2  10012935109     1
3  10013498043     1
4  10014087899     4
============info================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154385 entries, 0 to 154384
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员ID    154385 non-null  int64
 1   会员等级    154385 non-null  int64
dtypes: int64(2)
memory usage: 2.4 MB
None
============describe================
               会员ID           会员等级
count  1.543850e+05  154385.000000
mean   2.980055e+10       2.259701
std    1.365654e+10       1.346408
min    8.100000e+01       1.000000
25%    2.213894e+10       1.000000
50%    3.833022e+10       2.000000
75%    3.927932e+10       3.000000
max    3.954614e+10       5.000000

## 2数据清洗

In [ ]:
# 删除缺失值, 去掉异常值 (订单金额<1)

In [15]:
for i in sheet_names[:-1]:
    # 删除缺失值
    sheet_datas[i] = sheet_datas[i].dropna()
    # 去掉订单金额<1 的数据
    sheet_datas[i] = sheet_datas[i][sheet_datas[i]['订单金额']>1]
    # 创建新的字段 用来记录每个sheet最后一笔消费的时间
    sheet_datas[i]['max_year_date'] = sheet_datas[i]['提交日期'].max()

In [16]:
for i in sheet_names:
    print(sheet_datas[i].isnull().sum())

会员ID             0
订单号              0
提交日期             0
订单金额             0
max_year_date    0
dtype: int64
会员ID             0
订单号              0
提交日期             0
订单金额             0
max_year_date    0
dtype: int64
会员ID             0
订单号              0
提交日期             0
订单金额             0
max_year_date    0
dtype: int64
会员ID             0
订单号              0
提交日期             0
订单金额             0
max_year_date    0
dtype: int64
会员ID    0
会员等级    0
dtype: int64

## 3 把4年的数据拼接到一起

In [27]:
type(sheet_datas.values())

dict_values

In [24]:
# dict.values()方法字典获取所有的值, 转换成列表, 取出除了最后一个元素之外的结果 
list(sheet_datas.values())[0:-1]

[              会员ID         订单号       提交日期    订单金额 max_year_date
 0      15278002468  3000304681 2015-01-01   499.0    2015-12-31
 1      39236378972  3000305791 2015-01-01  2588.0    2015-12-31
 2      38722039578  3000641787 2015-01-01   498.0    2015-12-31
 3      11049640063  3000798913 2015-01-01  1572.0    2015-12-31
 4      35038752292  3000821546 2015-01-01    10.1    2015-12-31
 ...            ...         ...        ...     ...           ...
 30769  39368100847  4281994827 2015-12-31   828.0    2015-12-31
 30770       409757  4282010457 2015-12-31   199.0    2015-12-31
 30771  38380526114  4282017675 2015-12-31   208.0    2015-12-31
 30772     28074988  4282019440 2015-12-31    89.0    2015-12-31
 30773  39460363230  4282025309 2015-12-31   719.0    2015-12-31

 [30574 rows x 5 columns],
               会员ID         订单号       提交日期     订单金额 max_year_date
 0      39288120141  4282025766 2016-01-01    76.00    2016-12-31
 1      39293812118  4282037929 2016-01-01  7599.00    2016-12-31
 2      27596340905  4282038740 2016-01-01   802.00    2016-12-31
 3      15111475509  4282043819 2016-01-01    65.00    2016-12-31
 4      38896594001  4282051044 2016-01-01    95.00    2016-12-31
 ...            ...         ...        ...      ...           ...
 41273  35336052906  4324910145 2016-12-31    99.00    2016-12-31
 41274  39305835721  4324910148 2016-12-31   238.89    2016-12-31
 41275  39296945352  4324910770 2016-12-31   765.00    2016-12-31
 41276  14791026234  4324911025 2016-12-31    45.80    2016-12-31
 41277  16779755770  4324911048 2016-12-31   119.00    2016-12-31

 [41001 rows x 5 columns],
               会员ID         订单号       提交日期    订单金额 max_year_date
 0      38765290840  4324911135 2017-01-01  1799.0    2017-12-31
 1      39305832102  4324911213 2017-01-01   369.0    2017-12-31
 2      34190994969  4324911251 2017-01-01   189.0    2017-12-31
 3      38986333210  4324911283 2017-01-01   169.0    2017-12-31
 4          4271359  4324911355 2017-01-01    78.0    2017-12-31
 ...            ...         ...        ...     ...           ...
 50834  39155833075  4338762307 2017-12-31    96.0    2017-12-31
 50835  29523124076  4338762514 2017-12-31    99.0    2017-12-31
 50836      7807573  4338762906 2017-12-31   258.0    2017-12-31
 50837  36642530033  4338762958 2017-12-31   286.0    2017-12-31
 50838  39155901156  4338763879 2017-12-31   249.0    2017-12-31

 [50451 rows x 5 columns],
               会员ID         订单号       提交日期    订单金额 max_year_date
 0      39229691808  4338764262 2018-01-01  3646.0    2018-12-31
 1      39293668916  4338764363 2018-01-01  3999.0    2018-12-31
 2      35059646224  4338764376 2018-01-01    10.1    2018-12-31
 3          1084397  4338770013 2018-01-01   828.0    2018-12-31
 4          3349915  4338770121 2018-01-01  3758.0    2018-12-31
 ...            ...         ...        ...     ...           ...
 81344  39229485704  4354225182 2018-12-31   249.0    2018-12-31
 81345  39229021075  4354225188 2018-12-31    89.0    2018-12-31
 81346  39288976750  4354230034 2018-12-31    48.5    2018-12-31
 81347     26772630  4354230163 2018-12-31  3196.0    2018-12-31
 81348  39455580335  4354235084 2018-12-31  2999.0    2018-12-31

 [80801 rows x 5 columns]]

In [123]:
# 把2015,2016,2017 2018年的数据拼到一起
data_merge = pd.concat(list(sheet_datas.values())[0:-1],ignore_index=True)

In [125]:
data_merge['year'] = data_merge['提交日期'].dt.year

In [126]:
# 计算RFM的时间点 距离 购物日期的时间间隔
data_merge['date_interval'] = data_merge['max_year_date']-data_merge['提交日期']

In [127]:
data_merge['date_interval'] = data_merge['date_interval'].dt.days

In [41]:
data_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202827 entries, 0 to 81348
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   会员ID           202827 non-null  int64
 1   订单号            202827 non-null  int64
 2   提交日期           202827 non-null  datetime64[ns]
 3   订单金额           202827 non-null  float64
 4   max_year_date  202827 non-null  datetime64[ns]
 5   year           202827 non-null  int64
 6   date_interval  202827 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(4)
memory usage: 12.4 MB

## 4 分组聚合计算RFM的聚合值

In [142]:
rfm_result = data_merge.groupby(['year','会员ID'],as_index=False).agg({'date_interval':'min','订单号':'count','订单金额':'sum'})

In [143]:
rfm_result.columns = ['年份','会员ID','r','f','m']

In [47]:
rfm_result.describe()

,年份,会员ID,r,f,m
count,148591.000000,1.485910e+05,148591.000000,148591.000000,148591.000000
mean,2016.773075,2.811669e+10,165.524043,1.365002,1323.741329
std,1.129317,1.477660e+10,101.988472,2.626953,3753.906883
min,2015.000000,8.100000e+01,0.000000,1.000000,1.500000
25%,2016.000000,1.728262e+10,79.000000,1.000000,69.000000
50%,2017.000000,3.689151e+10,156.000000,1.000000,189.000000
75%,2018.000000,3.923337e+10,255.000000,1.000000,1199.000000
max,2018.000000,3.954614e+10,365.000000,130.000000,206251.800000

## 5 rfm三个维度打分

In [139]:
# 通过分位数的分布情况, 来确定r , m打分的阈值
r_range = [0,79,255,365]
m = [0,69,1199,206252]
f = [0,2,5,130]

In [77]:
rfm_result

          年份         会员ID    r  f       m
0       2015          267  197  2   105.0
1       2015          282  251  1    29.7
2       2015          283  340  1  5398.0
3       2015          343  300  1   118.0
4       2015          525   37  3   213.0
...      ...          ...  ... ..     ...
148586  2018  39538034299  272  1    49.0
148587  2018  39538034662  189  1  3558.0
148588  2018  39538035729  179  1  3699.0
148589  2018  39545237824  275  1    49.0
148590  2018  39546136285  163  1    19.9

[148591 rows x 5 columns]

In [ ]:
# pd.cut() 方便的将一列连续型数据切分成类别型 
# 第一个参数 要切的数值 第二个参数 要切分成几组/ 传入切分阈值的列表 如果传入的是数值, 会做等距的划分
# labels 切分之后, 每一个类别 对应的取值, 默认使用每组的阈值(最小, 最大] 来作为取值
# 区间划分 是左开右闭  [0,79,255,365] 对应3个区间 (0,79] (79,255] (255,365] 需要注意 0 最小值 是否呗包含进来了
# 可以通过 include_lowest=True,保证下限可以包含进来

In [141]:
rfm_result

        year         会员ID  date_interval  订单号    订单金额
0       2015          267            197    2   105.0
1       2015          282            251    1    29.7
2       2015          283            340    1  5398.0
3       2015          343            300    1   118.0
4       2015          525             37    3   213.0
...      ...          ...            ...  ...     ...
148586  2018  39538034299            272    1    49.0
148587  2018  39538034662            189    1  3558.0
148588  2018  39538035729            179    1  3699.0
148589  2018  39545237824            275    1    49.0
148590  2018  39546136285            163    1    19.9

[148591 rows x 5 columns]

In [93]:
rfm_result['r_label']=pd.cut(rfm_result['r'],bins=r_range,include_lowest=True,labels=[3,2,1])
rfm_result['f_label']=pd.cut(rfm_result['f'],bins=f,include_lowest=True,labels=[1,2,3])
rfm_result['m_label']=pd.cut(rfm_result['m'],bins=m,include_lowest=True,labels=[1,2,3])

In [144]:
rfm_result['r_label']=pd.cut(rfm_result['r'],bins=r_range,include_lowest=True,
                             labels=[i for i in range(len(r_range)-1,0,-1)])
rfm_result['f_label']=pd.cut(rfm_result['f'],bins=f,include_lowest=True,labels=[i+1 for i in range(len(f)-1)])
rfm_result['m_label']=pd.cut(rfm_result['m'],bins=m,include_lowest=True,labels=[i+1 for i in range(len(m)-1)])

In [134]:
[i for i in range(len(r)-1,0,-1)]

[3, 2, 1]

In [100]:
rfm_result['m_label'].value_counts().sum()

148591

In [87]:
pd.cut(rfm_result['r'],bins=3)

0         (121.667, 243.333]
1           (243.333, 365.0]
2           (243.333, 365.0]
3           (243.333, 365.0]
4          (-0.365, 121.667]
                 ...
148586      (243.333, 365.0]
148587    (121.667, 243.333]
148588    (121.667, 243.333]
148589      (243.333, 365.0]
148590    (121.667, 243.333]
Name: r, Length: 148591, dtype: category
Categories (3, interval[float64, right]): [(-0.365, 121.667] < (121.667, 243.333] < (243.333, 365.0]]

In [147]:
# 为了方便后续处理, 把r / f / m 的标签转换成字符串类型
rfm_result['r_label'] = rfm_result['r_label'].astype(str)
rfm_result['f_label'] = rfm_result['f_label'].astype(str)
rfm_result['m_label'] = rfm_result['m_label'].astype(str)

In [148]:
rfm_result['rfm'] = rfm_result['r_label']+ rfm_result['f_label']+ rfm_result['m_label']

In [110]:
rfm_result.groupby(['年份','rfm'])['会员ID'].count()

年份    rfm
2015  111    2180
      112    3811
      113    1785
      122      27
      123      24
             ...
2018  321      17
      322     199
      323     198
      332      24
      333     355
Name: 会员ID, Length: 88, dtype: int64

In [149]:
rfm_result

          年份         会员ID    r  f       m r_label f_label m_label  rfm
0       2015          267  197  2   105.0       2       1       2  212
1       2015          282  251  1    29.7       2       1       1  211
2       2015          283  340  1  5398.0       1       1       3  113
3       2015          343  300  1   118.0       1       1       2  112
4       2015          525   37  3   213.0       3       2       2  322
...      ...          ...  ... ..     ...     ...     ...     ...  ...
148586  2018  39538034299  272  1    49.0       1       1       1  111
148587  2018  39538034662  189  1  3558.0       2       1       3  213
148588  2018  39538035729  179  1  3699.0       2       1       3  213
148589  2018  39545237824  275  1    49.0       1       1       1  111
148590  2018  39546136285  163  1    19.9       2       1       1  211

[148591 rows x 9 columns]

## 6 连接Mysql 保存结果

In [156]:
from sqlalchemy import create_engine
# 创建和Mysql之间的连接
engine = create_engine('mysql+pymysql://root:root12345@localhost:3306/ai?charset=utf8')
pd.read_sql('select * from employee',engine)

    id  first_name  last_name  department_id  salary  years_worked
0    1       Diane     Turner              1    5330             4
1    2    Clarence   Robinson              1    3617             2
2    3      Eugene   Phillips              1    4877             2
3    4      Philip   Mitchell              1    5259             3
4    5         Ann     Wright              2    2094             5
5    6     Charles     Wilson              2    5167             5
6    7     Russell    Johnson              2    3762             4
7    8  Jacqueline       Cook              2    6923             3
8    9       Larry        Lee              3    2796             4
9   10      Willie  Patterson              3    4771             5
10  11       Janet    Ramirez              3    3782             2
11  12       Doris     Bryant              3    6419             1
12  13         Amy   Williams              3    6261             1
13  14       Keith      Scott              3    4928             8
14  15       Karen     Morris              4    6347             6
15  16       Kathy    Sanders              4    6286             1
16  17         Joe   Thompson              5    5639             3
17  18     Barbara      Clark              5    3232             1
18  19        Todd       Bell              5    4653             1
19  20      Ronald     Butler              5    2076             5

In [157]:
rfm_result.to_sql('rfm',engine)

148591

## 7 pyecharts可视化

In [160]:
display_data = rfm_result.groupby(['rfm','年份'],as_index=False)['会员ID'].count()
display_data.columns = ['rfm_group','year','number']

In [164]:
display_data['rfm_group'] = display_data['rfm_group'].astype(int)

In [167]:
from pyecharts.charts import Bar3D
from pyecharts import options as opts
from pyecharts.commons.utils import JsCode
range_color = ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf',
               '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
range_max = int(display_data['number'].max())
c = (
    Bar3D()#设置了一个3D柱形图对象
    .add(
        "",#标题
        [d.tolist() for d in display_data.values],#数据
        xaxis3d_opts=opts.Axis3DOpts( type_="category",name='分组名称'),#x轴数据类型，名称
        yaxis3d_opts=opts.Axis3DOpts( type_="category",name='年份'),#y轴数据类型，名称
        zaxis3d_opts=opts.Axis3DOpts(type_="value",name='会员数量'),#z轴数据类型，名称
        
    )
    .set_global_opts(#设置颜色，及不同取值对应的颜色
        visualmap_opts=opts.VisualMapOpts(max_=range_max,range_color=range_color),
        title_opts=opts.TitleOpts(title="RFM分组结果") ) #设置标题 
    
)
c.render('rfm_bar3d.html')

'C:\\Develop\\AI16\\pythonProject3\\rfm_bar3d.html'

In [168]:
[d.tolist() for d in display_data.values]

[[111, 2015, 2180],
 [111, 2016, 1498],
 [111, 2017, 3169],
 [111, 2018, 2271],
 [112, 2015, 3811],
 [112, 2016, 2958],
 [112, 2017, 5737],
 [112, 2018, 4340],
 [113, 2015, 1785],
 [113, 2016, 1297],
 [113, 2017, 2506],
 [113, 2018, 1947],
 [121, 2017, 1],
 [121, 2018, 8],
 [122, 2015, 27],
 [122, 2017, 12],
 [122, 2018, 976],
 [123, 2015, 24],
 [123, 2017, 4],
 [123, 2018, 1904],
 [132, 2018, 2],
 [133, 2015, 15],
 [133, 2016, 233],
 [133, 2017, 36],
 [133, 2018, 188],
 [211, 2015, 3532],
 [211, 2016, 4678],
 [211, 2017, 3509],
 [211, 2018, 7304],
 [212, 2015, 6576],
 [212, 2016, 8983],
 [212, 2017, 6983],
 [212, 2018, 14297],
 [213, 2015, 2962],
 [213, 2016, 4036],
 [213, 2017, 2983],
 [213, 2018, 6389],
 [221, 2015, 2],
 [221, 2016, 6],
 [221, 2017, 3],
 [221, 2018, 13],
 [222, 2015, 43],
 [222, 2016, 69],
 [222, 2017, 46],
 [222, 2018, 216],
 [223, 2015, 37],
 [223, 2016, 42],
 [223, 2017, 38],
 [223, 2018, 253],
 [232, 2016, 4],
 [232, 2018, 9],
 [233, 2015, 20],
 [233, 2016, 50],
 [233, 2017, 589],
 [233, 2018, 387],
 [311, 2015, 1718],
 [311, 2016, 2171],
 [311, 2017, 2164],
 [311, 2018, 3221],
 [312, 2015, 3310],
 [312, 2016, 4438],
 [312, 2017, 4325],
 [312, 2018, 6582],
 [313, 2015, 1440],
 [313, 2016, 1947],
 [313, 2017, 1946],
 [313, 2018, 3008],
 [321, 2015, 6],
 [321, 2016, 9],
 [321, 2017, 2],
 [321, 2018, 17],
 [322, 2015, 61],
 [322, 2016, 86],
 [322, 2017, 64],
 [322, 2018, 199],
 [323, 2015, 44],
 [323, 2016, 64],
 [323, 2017, 60],
 [323, 2018, 198],
 [331, 2017, 1],
 [332, 2015, 3],
 [332, 2016, 8],
 [332, 2017, 2],
 [332, 2018, 24],
 [333, 2015, 15],
 [333, 2016, 28],
 [333, 2017, 87],
 [333, 2018, 355]]

In [169]:
display_data.values

array([[  111,  2015,  2180],
       [  111,  2016,  1498],
       [  111,  2017,  3169],
       [  111,  2018,  2271],
       [  112,  2015,  3811],
       [  112,  2016,  2958],
       [  112,  2017,  5737],
       [  112,  2018,  4340],
       [  113,  2015,  1785],
       [  113,  2016,  1297],
       [  113,  2017,  2506],
       [  113,  2018,  1947],
       [  121,  2017,     1],
       [  121,  2018,     8],
       [  122,  2015,    27],
       [  122,  2017,    12],
       [  122,  2018,   976],
       [  123,  2015,    24],
       [  123,  2017,     4],
       [  123,  2018,  1904],
       [  132,  2018,     2],
       [  133,  2015,    15],
       [  133,  2016,   233],
       [  133,  2017,    36],
       [  133,  2018,   188],
       [  211,  2015,  3532],
       [  211,  2016,  4678],
       [  211,  2017,  3509],
       [  211,  2018,  7304],
       [  212,  2015,  6576],
       [  212,  2016,  8983],
       [  212,  2017,  6983],
       [  212,  2018, 14297],
       [  213,  2015,  2962],
       [  213,  2016,  4036],
       [  213,  2017,  2983],
       [  213,  2018,  6389],
       [  221,  2015,     2],
       [  221,  2016,     6],
       [  221,  2017,     3],
       [  221,  2018,    13],
       [  222,  2015,    43],
       [  222,  2016,    69],
       [  222,  2017,    46],
       [  222,  2018,   216],
       [  223,  2015,    37],
       [  223,  2016,    42],
       [  223,  2017,    38],
       [  223,  2018,   253],
       [  232,  2016,     4],
       [  232,  2018,     9],
       [  233,  2015,    20],
       [  233,  2016,    50],
       [  233,  2017,   589],
       [  233,  2018,   387],
       [  311,  2015,  1718],
       [  311,  2016,  2171],
       [  311,  2017,  2164],
       [  311,  2018,  3221],
       [  312,  2015,  3310],
       [  312,  2016,  4438],
       [  312,  2017,  4325],
       [  312,  2018,  6582],
       [  313,  2015,  1440],
       [  313,  2016,  1947],
       [  313,  2017,  1946],
       [  313,  2018,  3008],
       [  321,  2015,     6],
       [  321,  2016,     9],
       [  321,  2017,     2],
       [  321,  2018,    17],
       [  322,  2015,    61],
       [  322,  2016,    86],
       [  322,  2017,    64],
       [  322,  2018,   199],
       [  323,  2015,    44],
       [  323,  2016,    64],
       [  323,  2017,    60],
       [  323,  2018,   198],
       [  331,  2017,     1],
       [  332,  2015,     3],
       [  332,  2016,     8],
       [  332,  2017,     2],
       [  332,  2018,    24],
       [  333,  2015,    15],
       [  333,  2016,    28],
       [  333,  2017,    87],
       [  333,  2018,   355]], dtype=int64)