In [3]:
import  pandas as pd

In [19]:
scientists=pd.read_csv('data/scientists.csv')
scientists.head()

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [13]:
#计算平均值
avg_age=scientists.Age.mean()
#大于平均值的年龄
names=scientists.Name[scientists.Age>avg_age]
# 上面的代码相当于
temp_list = [False,True,True,True,False,False,False,True]
scientists['Name'][temp_list]

1          William Gosset
2    Florence Nightingale
3             Marie Curie
7            Johann Gauss
Name: Name, dtype: object

In [16]:
#serias之间的计算,无法匹配的会被赋值为NAN
age=scientists['Age']
age+pd.Series([1,2],index=[1,2])

0     NaN
1    62.0
2    92.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [18]:
age.describe()
scientists.Name.describe()

count                     8
unique                    8
top       Rosaline Franklin
freq                      1
Name: Name, dtype: object