In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a':[10,20,30],'b':[20,30,40]})

In [12]:
@np.vectorize
def avg_test2(x,y):
    if x==20:
        return np.NAN
    else:
        return(x+y)/2

In [13]:
# avg_vec=np.vectorize(avg_test2)
# avg_vec(df.a,df.b)
avg_test2(df.a,df.b)

array([15., nan, 35.])

In [15]:
df.apply(lambda x:x.isnull().sum())

a    0
b    0
dtype: int64

In [16]:
scientists=pd.read_csv('data/scientists.csv')

In [36]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [37]:
def myMean(s,global_mean):
    return s.mean()-global_mean

In [35]:
global_mean=scientists.Age.mean()
scientists.groupby('Name')['Age'].agg(myMean,global_mean=global_mean)

Name
Alan Turing            -18.125
Florence Nightingale    30.875
Johann Gauss            17.875
John Snow              -14.125
Marie Curie              6.875
Rachel Carson           -3.125
Rosaline Franklin      -22.125
William Gosset           1.875
Name: Age, dtype: float64

In [38]:
scientists.groupby('Occupation').agg({'Age':'mean'})

                     Age
Occupation
Biologist           56.0
Chemist             51.5
Computer Scientist  41.0
Mathematician       77.0
Nurse               90.0
Physician           45.0
Statistician        61.0

In [46]:
tips = pd.read_csv('data/tips.csv')
tips_10=tips.sample(10,random_state=0)

In [48]:
tips_10.loc[np.random.permutation(tips_10.index)[:4],'tip']=np.NAN

In [51]:
def filll_tip(x):
    return x.fillna(x.mean())

In [53]:
tips_10.groupby('sex')['tip'].transform(filll_tip)

64     4.28
63     4.28
55     3.51
111    1.00
225    2.50
92     1.00
76     4.28
181    5.65
188    1.50
180    3.68
Name: tip, dtype: float64

In [57]:
#填充小费，取各自性别的平均值填入
tips_10.tip=tips_10.groupby('sex')['tip'].transform(filll_tip).tolist()

In [58]:
weight_loss = pd.read_csv('data/weight_loss.csv')
weight_loss

   Name Month    Week  Weight
0   Bob   Jan  Week 1     291
1   Amy   Jan  Week 1     197
2   Bob   Jan  Week 2     288
3   Amy   Jan  Week 2     189
4   Bob   Jan  Week 3     283
5   Amy   Jan  Week 3     189
6   Bob   Jan  Week 4     283
7   Amy   Jan  Week 4     190
8   Bob   Feb  Week 1     283
9   Amy   Feb  Week 1     190
10  Bob   Feb  Week 2     275
11  Amy   Feb  Week 2     184
12  Bob   Feb  Week 3     268
13  Amy   Feb  Week 3     177
14  Bob   Feb  Week 4     268
15  Amy   Feb  Week 4     173
16  Bob   Mar  Week 1     268
17  Amy   Mar  Week 1     173
18  Bob   Mar  Week 2     271
19  Amy   Mar  Week 2     173
20  Bob   Mar  Week 3     265
21  Amy   Mar  Week 3     170
22  Bob   Mar  Week 4     261
23  Amy   Mar  Week 4     170
24  Bob   Apr  Week 1     261
25  Amy   Apr  Week 1     170
26  Bob   Apr  Week 2     258
27  Amy   Apr  Week 2     164
28  Bob   Apr  Week 3     253
29  Amy   Apr  Week 3     164
30  Bob   Apr  Week 4     250
31  Amy   Apr  Week 4     161

In [64]:
def find_perc_loss(s):
    return (s.iloc[0]-s)/s.iloc[0]

In [65]:
bob_jan=weight_loss.query("Name == 'Bob' and Month == 'Jan'")

In [67]:
find_perc_loss(bob_jan['Weight'])

0    0.000000
2    0.010309
4    0.027491
6    0.027491
Name: Weight, dtype: float64

In [70]:
weight_loss['减重比例']=weight_loss.groupby(['Name','Month'])['Weight'].transform(find_perc_loss)
weight_loss.head()

  Name Month    Week  Weight      减重比例
0  Bob   Jan  Week 1     291  0.000000
1  Amy   Jan  Week 1     197  0.000000
2  Bob   Jan  Week 2     288  0.010309
3  Amy   Jan  Week 2     189  0.040609
4  Bob   Jan  Week 3     283  0.027491

In [73]:
groupd=weight_loss.groupby('Name')
groupd.groups

{'Amy': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31], 'Bob': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]}

In [75]:
groupd.get_group('Amy')

   Name Month    Week  Weight      减重比例
1   Amy   Jan  Week 1     197  0.000000
3   Amy   Jan  Week 2     189  0.040609
5   Amy   Jan  Week 3     189  0.040609
7   Amy   Jan  Week 4     190  0.035533
9   Amy   Feb  Week 1     190  0.000000
11  Amy   Feb  Week 2     184  0.031579
13  Amy   Feb  Week 3     177  0.068421
15  Amy   Feb  Week 4     173  0.089474
17  Amy   Mar  Week 1     173  0.000000
19  Amy   Mar  Week 2     173  0.000000
21  Amy   Mar  Week 3     170  0.017341
23  Amy   Mar  Week 4     170  0.017341
25  Amy   Apr  Week 1     170  0.000000
27  Amy   Apr  Week 2     164  0.035294
29  Amy   Apr  Week 3     164  0.035294
31  Amy   Apr  Week 4     161  0.052941

In [77]:
for group in groupd:
    # print(group)
    print(type(group[1]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>