In [6]:
import  time
import numpy as np
import pandas as pd
from pyecharts.charts import Bar3D

In [21]:
sheet_name=['2015','2016','2017','2018','会员等级']
sheet_datas=[pd.read_excel('data/sales.xlsx',sheet_name=i) for i in sheet_name]

In [22]:
pd.read_excel('data/sales.xlsx',sheet_name=sheet_name)

{'2015':               会员ID         订单号       提交日期    订单金额
 0      15278002468  3000304681 2015-01-01   499.0
 1      39236378972  3000305791 2015-01-01  2588.0
 2      38722039578  3000641787 2015-01-01   498.0
 3      11049640063  3000798913 2015-01-01  1572.0
 4      35038752292  3000821546 2015-01-01    10.1
 ...            ...         ...        ...     ...
 30769  39368100847  4281994827 2015-12-31   828.0
 30770       409757  4282010457 2015-12-31   199.0
 30771  38380526114  4282017675 2015-12-31   208.0
 30772     28074988  4282019440 2015-12-31    89.0
 30773  39460363230  4282025309 2015-12-31   719.0

 [30774 rows x 4 columns],
 '2016':               会员ID         订单号       提交日期     订单金额
 0      39288120141  4282025766 2016-01-01    76.00
 1      39293812118  4282037929 2016-01-01  7599.00
 2      27596340905  4282038740 2016-01-01   802.00
 3      15111475509  4282043819 2016-01-01    65.00
 4      38896594001  4282051044 2016-01-01    95.00
 ...            ...         ...        ...      ...
 41273  35336052906  4324910145 2016-12-31    99.00
 41274  39305835721  4324910148 2016-12-31   238.89
 41275  39296945352  4324910770 2016-12-31   765.00
 41276  14791026234  4324911025 2016-12-31    45.80
 41277  16779755770  4324911048 2016-12-31   119.00

 [41278 rows x 4 columns],
 '2017':               会员ID         订单号       提交日期    订单金额
 0      38765290840  4324911135 2017-01-01  1799.0
 1      39305832102  4324911213 2017-01-01   369.0
 2      34190994969  4324911251 2017-01-01   189.0
 3      38986333210  4324911283 2017-01-01   169.0
 4          4271359  4324911355 2017-01-01    78.0
 ...            ...         ...        ...     ...
 50834  39155833075  4338762307 2017-12-31    96.0
 50835  29523124076  4338762514 2017-12-31    99.0
 50836      7807573  4338762906 2017-12-31   258.0
 50837  36642530033  4338762958 2017-12-31   286.0
 50838  39155901156  4338763879 2017-12-31   249.0

 [50839 rows x 4 columns],
 '2018':               会员ID         订单号       提交日期    订单金额
 0      39229691808  4338764262 2018-01-01  3646.0
 1      39293668916  4338764363 2018-01-01  3999.0
 2      35059646224  4338764376 2018-01-01    10.1
 3          1084397  4338770013 2018-01-01   828.0
 4          3349915  4338770121 2018-01-01  3758.0
 ...            ...         ...        ...     ...
 81344  39229485704  4354225182 2018-12-31   249.0
 81345  39229021075  4354225188 2018-12-31    89.0
 81346  39288976750  4354230034 2018-12-31    48.5
 81347     26772630  4354230163 2018-12-31  3196.0
 81348  39455580335  4354235084 2018-12-31  2999.0

 [81349 rows x 4 columns],
 '会员等级':                会员ID  会员等级
 0            100090     3
 1       10012905801     1
 2       10012935109     1
 3       10013498043     1
 4       10014087899     4
 ...             ...   ...
 154380       998138     3
 154381       998298     1
 154382       998571     4
 154383       999563     4
 154384       999951     1

 [154385 rows x 2 columns]}

In [14]:
for eache_name,eache_data in zip(sheet_name,sheet_datas):
    print("============="+eache_name+"==========")
    print(eache_data.head(4))
    print(eache_data.describe())
    print(eache_data.info())
    print(eache_data.isnull().sum())

=============2015==========
          会员ID         订单号       提交日期    订单金额
0  15278002468  3000304681 2015-01-01   499.0
1  39236378972  3000305791 2015-01-01  2588.0
2  38722039578  3000641787 2015-01-01   498.0
3  11049640063  3000798913 2015-01-01  1572.0
               会员ID           订单号           订单金额
count  3.077400e+04  3.077400e+04   30774.000000
mean   2.918779e+10  4.020414e+09     960.991161
std    1.385333e+10  2.630510e+08    2068.107231
min    2.670000e+02  3.000305e+09       0.500000
25%    1.944122e+10  3.885510e+09      59.000000
50%    3.746545e+10  4.117491e+09     139.000000
75%    3.923593e+10  4.234882e+09     899.000000
max    3.954613e+10  4.282025e+09  111750.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30774 entries, 0 to 30773
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    30774 non-null  int64
 1   订单号     30774 non-null  int64
 2   提交日期    30774 non-null  datetime64[ns]
 3   订单金额    30774 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 961.8 KB
None
会员ID    0
订单号     0
提交日期    0
订单金额    0
dtype: int64
=============2016==========
          会员ID         订单号       提交日期    订单金额
0  39288120141  4282025766 2016-01-01    76.0
1  39293812118  4282037929 2016-01-01  7599.0
2  27596340905  4282038740 2016-01-01   802.0
3  15111475509  4282043819 2016-01-01    65.0
               会员ID           订单号           订单金额
count  4.127800e+04  4.127800e+04   41277.000000
mean   2.908415e+10  4.313583e+09     957.106694
std    1.389468e+10  1.094572e+07    2478.560036
min    8.100000e+01  4.282026e+09       0.100000
25%    1.934990e+10  4.309457e+09      59.000000
50%    3.730339e+10  4.317545e+09     147.000000
75%    3.923182e+10  4.321132e+09     888.000000
max    3.954554e+10  4.324911e+09  174900.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41278 entries, 0 to 41277
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    41278 non-null  int64
 1   订单号     41278 non-null  int64
 2   提交日期    41278 non-null  datetime64[ns]
 3   订单金额    41277 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.3 MB
None
会员ID    0
订单号     0
提交日期    0
订单金额    1
dtype: int64
=============2017==========
          会员ID         订单号       提交日期    订单金额
0  38765290840  4324911135 2017-01-01  1799.0
1  39305832102  4324911213 2017-01-01   369.0
2  34190994969  4324911251 2017-01-01   189.0
3  38986333210  4324911283 2017-01-01   169.0
               会员ID           订单号           订单金额
count  5.083900e+04  5.083900e+04   50839.000000
mean   2.882368e+10  4.332466e+09     963.587872
std    1.409416e+10  4.404350e+06    2178.727261
min    2.780000e+02  4.324911e+09       0.300000
25%    1.869274e+10  4.328415e+09      59.000000
50%    3.688044e+10  4.331989e+09     149.000000
75%    3.923020e+10  4.337515e+09     898.000000
max    3.954554e+10  4.338764e+09  123609.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50839 entries, 0 to 50838
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    50839 non-null  int64
 1   订单号     50839 non-null  int64
 2   提交日期    50839 non-null  datetime64[ns]
 3   订单金额    50839 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.6 MB
None
会员ID    0
订单号     0
提交日期    0
订单金额    0
dtype: int64
=============2018==========
          会员ID         订单号       提交日期    订单金额
0  39229691808  4338764262 2018-01-01  3646.0
1  39293668916  4338764363 2018-01-01  3999.0
2  35059646224  4338764376 2018-01-01    10.1
3      1084397  4338770013 2018-01-01   828.0
               会员ID           订单号           订单金额
count  8.134900e+04  8.134900e+04   81348.000000
mean   2.902317e+10  4.348372e+09     966.582792
std    1.404116e+10  4.183774e+06    2204.969534
min    2.780000e+02  4.338764e+09       0.000000
25%    1.902755e+10  4.345654e+09      60.000000
50%    3.740121e+10  4.349448e+09     149.000000
75%    3.923380e+10  4.351639e+09     899.000000
max    3.954614e+10  4.354235e+09  174900.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81349 entries, 0 to 81348
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   会员ID    81349 non-null  int64
 1   订单号     81349 non-null  int64
 2   提交日期    81349 non-null  datetime64[ns]
 3   订单金额    81348 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 2.5 MB
None
会员ID    0
订单号     0
提交日期    0
订单金额    1
dtype: int64
=============会员等级==========
          会员ID  会员等级
0       100090     3
1  10012905801     1
2  10012935109     1
3  10013498043     1
               会员ID           会员等级
count  1.543850e+05  154385.000000
mean   2.980055e+10       2.259701
std    1.365654e+10       1.346408
min    8.100000e+01       1.000000
25%    2.213894e+10       1.000000
50%    3.833022e+10       2.000000
75%    3.927932e+10       3.000000
max    3.954614e+10       5.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154385 entries, 0 to 154384
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   会员ID    154385 non-null  int64
 1   会员等级    154385 non-null  int64
dtypes: int64(2)
memory usage: 2.4 MB
None
会员ID    0
会员等级    0
dtype: int64

In [28]:
#数据简单清洗
for ind,eache_data in enumerate(sheet_datas[:-1]):
    sheet_datas[ind]=eache_data.dropna()
    sheet_datas[ind]=eache_data[eache_data['订单金额']>1]
    sheet_datas[ind]['max_year_data']=eache_data['提交日期'].max()

In [29]:
sheet_datas[0].head()

          会员ID         订单号       提交日期    订单金额 max_year_data
0  15278002468  3000304681 2015-01-01   499.0    2015-12-31
1  39236378972  3000305791 2015-01-01  2588.0    2015-12-31
2  38722039578  3000641787 2015-01-01   498.0    2015-12-31
3  11049640063  3000798913 2015-01-01  1572.0    2015-12-31
4  35038752292  3000821546 2015-01-01    10.1    2015-12-31

In [33]:
data_merge=pd.concat(sheet_datas[:-1],axis=0)
data_merge['year']=data_merge['提交日期'].dt.year

          会员ID         订单号       提交日期    订单金额 max_year_data  year
0  15278002468  3000304681 2015-01-01   499.0    2015-12-31  2015
1  39236378972  3000305791 2015-01-01  2588.0    2015-12-31  2015
2  38722039578  3000641787 2015-01-01   498.0    2015-12-31  2015
3  11049640063  3000798913 2015-01-01  1572.0    2015-12-31  2015
4  35038752292  3000821546 2015-01-01    10.1    2015-12-31  2015

In [38]:
data_merge['date_interva']=data_merge['max_year_data']-data_merge['提交日期']
data_merge['date_interva']=data_merge['date_interva'].dt.days
data_merge.head()

,会员ID,订单号,提交日期,订单金额,max_year_data,year,date_interva
0,15278002468,3000304681,2015-01-01,499.0,2015-12-31,2015,364
1,39236378972,3000305791,2015-01-01,2588.0,2015-12-31,2015,364
2,38722039578,3000641787,2015-01-01,498.0,2015-12-31,2015,364
3,11049640063,3000798913,2015-01-01,1572.0,2015-12-31,2015,364
4,35038752292,3000821546,2015-01-01,10.1,2015-12-31,2015,364

In [41]:
rfm_gb=data_merge.groupby(['year','会员ID'],as_index=False).agg({'date_interva':'min','提交日期':'count','订单金额':'sum'})
rfm_gb.columns=['year','会员ID','r','f','m']
rfm_gb.head()

   year  会员ID    r  f       m
0  2015   267  197  2   105.0
1  2015   282  251  1    29.7
2  2015   283  340  1  5398.0
3  2015   343  300  1   118.0
4  2015   525   37  3   213.0

In [43]:
desc_pd=rfm_gb.iloc[:,2:].describe().T
desc_pd

      count         mean          std  min   25%    50%     75%       max
r  148591.0   165.524043   101.988472  0.0  79.0  156.0   255.0     365.0
f  148591.0     1.365002     2.626953  1.0   1.0    1.0     1.0     130.0
m  148591.0  1323.741329  3753.906883  1.5  69.0  189.0  1199.0  206251.8

In [45]:
r_bins=[-1,79,255,365]
f_bins=[0,2,5,130]
m_bins=[0,69,1199,206252]

In [74]:
rfm_gb['r_source']=pd.cut(rfm_gb['r'],r_bins,labels=[i for i in range(len(r_bins)-1,0,-1)])
rfm_gb['f_source']=pd.cut(rfm_gb['f'],f_bins,labels=[i for i in range(1,len(f_bins),1)])
rfm_gb['m_source']=pd.cut(rfm_gb['m'],m_bins,labels=[i for i in range(1,len(m_bins),1)])

In [68]:
rfm_gb.sort_values('f_source',ascending=False)

,year,会员ID,r,f,m,r_source,f_source,m_source,rfm_group
118172,2018,34871189725,167,17,9841.5,2,3,3,b'2'b'3'b'3'
116028,2018,32988584511,217,16,10375.7,2,3,3,b'2'b'3'b'3'
72608,2017,29333869243,138,16,8582.6,2,3,3,b'2'b'3'b'3'
72603,2017,29333308526,21,53,42595.0,3,3,3,b'3'b'3'b'3'
37586,2016,26065007457,282,19,53417.1,1,3,3,b'1'b'3'b'3'
...,...,...,...,...,...,...,...,...,...
49844,2016,39057960315,120,1,99.0,2,1,2,b'2'b'1'b'2'
49843,2016,39057951433,278,1,59.0,1,1,1,b'1'b'1'b'1'
49842,2016,39057918173,232,1,159.0,2,1,2,b'2'b'1'b'2'
49841,2016,39057903502,163,2,456.0,2,1,2,b'2'b'1'b'2'
148590,2018,39546136285,163,1,19.9,2,1,1,b'2'b'1'b'1'

In [75]:
rfm_gb['r_source']=rfm_gb['r_source'].astype(np.str_)
rfm_gb['f_source']=rfm_gb['f_source'].astype(np.str_)
rfm_gb['m_source']=rfm_gb['m_source'].astype(np.str_)

In [77]:
rfm_gb['rfm_group']=rfm_gb['r_source'].str.cat(rfm_gb['f_source']).str.cat(rfm_gb['m_source'])
rfm_gb.head()

   year  会员ID    r  f       m r_source f_source m_source rfm_group
0  2015   267  197  2   105.0        2        1        2       212
1  2015   282  251  1    29.7        2        1        1       211
2  2015   283  340  1  5398.0        1        1        3       113
3  2015   343  300  1   118.0        1        1        2       112
4  2015   525   37  3   213.0        3        2        2       322

In [86]:
display_data = rfm_gb.groupby(['rfm_group','year'],as_index=False)['会员ID'].count()
display_data.columns = ['rfm_group','year','number']
display_data['rfm_group'] = display_data['rfm_group'].astype(int)
display_data.head()

   rfm_group  year  number
0        111  2015    2180
1        111  2016    1498
2        111  2017    3169
3        111  2018    2271
4        112  2015    3811

In [88]:
from pyecharts.charts import Bar3D
from pyecharts import options as opts
from pyecharts.commons.utils import JsCode
range_color = ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf',
               '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
range_max = int(display_data['number'].max())
c = (
    Bar3D()#设置了一个3D柱形图对象
    .add(
        "",#标题
        [d.tolist() for d in display_data.values],#数据
        xaxis3d_opts=opts.Axis3DOpts( type_="category",name='分组名称'),#x轴数据类型，名称
        yaxis3d_opts=opts.Axis3DOpts( type_="category",name='年份'),#y轴数据类型，名称
        zaxis3d_opts=opts.Axis3DOpts(type_="value",name='会员数量'),#z轴数据类型，名称
        
    )
    .set_global_opts(#设置颜色，及不同取值对应的颜色
        visualmap_opts=opts.VisualMapOpts(max_=range_max,range_color=range_color),
        title_opts=opts.TitleOpts(title="RFM分组结果") ) #设置标题 
    
)
c.render('网页.html')

'D:\\wym\\work\\my\\pythonProject2\\网页.html'